:root {
  --black: #010101;
  --green: #00C853;
}


@font-face {
  font-family: "NovaSquare";
  src: url(../assets/fonts/NovaSquare-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: "NovaSquare";
  color: white;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--black);
}

header {
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100%;
}

canvas {
  display: block;
  height: 100vh;
  width: 100%;
}

ul {
  font-size: 1.2em;
  display: flex;
  margin: 0;
  list-style: none;
}

li {
  cursor: pointer;
  text-transform: uppercase;
  padding: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.5em;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 2em;
}

.container {
  padding: 12px;
  margin: 0 auto;
  max-width: 1000px;
}

.title {
  text-transform: uppercase;
  text-shadow: var(--green) 1px 0 10px;
  letter-spacing: 3px;
}

.social {
  display: flex;
  margin-bottom: 1em;
}

.social a, .about-btn {
  background-color: var(--black);
  border: 1px solid var(--green);
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-right: 16px;
}

.social a span{
  margin-left: 8px;
  margin-top: 3px;
}


/* ------------ INTRO ------------ */
#intro {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  padding-top: 50px;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center
}

.intro-name {
  font-size: 4em;
  white-space: nowrap;
}

#intro p{
  font-weight: bold;
}

.about-btn {
  padding: 12px 20px;
  text-transform: uppercase;
}

@media (max-width: 550px){
  .intro-name {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.5em;
  }
}
/* ------------ INTRO ------------ */



/* ------------ ABOUT ------------ */
#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-container {
  display: flex;
  align-items: center;
  min-height: 600px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skills-container span {
  color: var(--black);
  background-color: var(--green);
  padding: 8px;
  margin-right: 12px;
  margin-bottom: 12px;
}

@media (max-width: 1000px) {
  .about-container {
    flex-wrap: wrap;
  }
}
/* ------------ ABOUT ------------ */



/* ------------ PROJETOS ------------ */

.project-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 300px;
  border: 1px solid var(--green);
  border-radius: 4px;
}

.card-body {
  padding: 0 0.8em;
}

.card-body img {
  width: 100%;
}

.card-body p {
  text-align: justify;
  font-size: 1em;
}

.card-links {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.card-links a {
  margin-right: 8px;
}

/* ------------ PROJETOS ------------ */