:root {
  --black: #010101;
  --green: #00C853;
}

@font-face {
  font-family: "Matrix";
  src: url(../assets/fonts/matrix.ttf);
}

@font-face {
  font-family: "NovaSquare";
  src: url(../assets/fonts/NovaSquare-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: "NovaSquare";
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--black);
}

header {
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100%;
}

canvas {
  display: block;
  height: 100vh;
  width: 100%;
}

ul {
  font-size: 1.2em;
  display: flex;
  margin: 0;
  list-style: none;
  color: white;
}

li {
  cursor: pointer;
  text-transform: uppercase;
  padding: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.5em;
}

h1 {
  margin: 0;
}
