:root {
  --black: #010101;
  --red: #FF0B00;
  --dark-red: #C10B0B;
  --yellow: #FDD700;
  --gray: #5E5E5E;
  --pink: #FD86CB;
  --dark-blue: #2D48B9;
  --light-blue: #2BD3FB;
}

@font-face {
  font-family: "Persona";
  src: url(../assets/fonts/PersonifiedUXRegular.ttf);
}

* {
  box-sizing: border-box;
  font-family: "Persona";
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--dark-red);
}

header {
  height: 50px;
  position: fixed;
  top: 0;
  background-color: var(--black);
  width: 100%;
}


ul {
  display: flex;
  margin: 0;
  list-style: none;
  color: white;
}

li {
  cursor: pointer;
  text-transform: uppercase;
  padding: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.5em;
}
