#intro {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  color: white;
  padding-top: 50px;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center
}

.intro-name {
  font-family: "Matrix";
  font-size: 4em;
  text-transform: uppercase;
  text-shadow: var(--green) 1px 0 10px;
}

#intro p{
  font-weight: bold;
}

.about-btn {
  padding: 12px 20px;
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  background-color: var(--green);
  text-transform: uppercase;
}

@media (max-width: 465px){
  .intro-name {
    font-size: 3em;
  }

  p {
    font-size: 1em;
  }
}